In [1]:
import pandas as pd
# from stravalib.client import Client
import stravalib
import flask
from flask import request
from stravalib import Client
import requests
import json
import webbrowser
import pandas as pd
import datetime
from bokeh.plotting import figure, output_file, show, output_notebook, ColumnDataSource
from bokeh.palettes import Spectral11
from bokeh.models import ColumnDataSource, CDSView, GroupFilter

In [2]:
with open('../../config/creds/credentials.json') as scrds:
    strava_creds = json.load(scrds)

In [3]:
strava_credsaccess_token = '481cb676c1ebd336da0c25230f837ce8ac6190ad'

In [4]:
client = Client()

In [5]:
authorize_url = client.authorization_url(client_id=24706, redirect_uri='http://localhost:8282/authorized')

url = client.authorization_url(client_id=24706,redirect_uri='http://127.0.0.1:5000/authorization')

In [6]:
client_id = 24706

In [7]:
access_token = '481cb676c1ebd336da0c25230f837ce8ac6190ad'

In [8]:
port = 5000
url = 'http://localhost:%d/authorized' % port

In [9]:
authorize_url = client.authorization_url(client_id=client_id, redirect_uri=url)

In [10]:
# access_token = client.exchange_code_for_token(client_id=24706, client_secret=access_token code=)

In [11]:
webbrowser.open(authorize_url)

True

In [12]:
# code = 'c2ff0d44e1c60b182d18b8791b9f428146f4312e'
code = '3c66e15a369292748e3ab195b0162487b983c6ae'

In [13]:
access_token = client.exchange_code_for_token(client_id=24706, client_secret=access_token, code=code)

In [14]:
activities_returned = []
activity_returned = dict()
type(activities_returned)

list

In [15]:
# people = (({"name": activity.name},{"distance":activity.distance}) for activity in client.get_activities(after = "2018-01-01T00:00:00Z",  limit=100))
activities_list = [(activity.start_date,activity.name,activity.distance) for activity in client.get_activities(after = "2018-01-01T00:00:00Z",  limit=700)]

No such attribute visibility on entity <Activity id=1337718957 name='Day 1 RED Jan - Muddy Connaught water' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1337718957 name='Day 1 RED Jan - Muddy Connaught water' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1337718957 name='Day 1 RED Jan - Muddy Connaught water' resource_state=2>
No such attribute visibility on entity <Activity id=1337718988 name='Day 2 RED Jan - Bury Road and back' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1337718988 name='Day 2 RED Jan - Bury Road and back' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1337718988 name='Day 2 RED Jan - Bury Road and back' resource_state=2>
No such attribute visibility on entity <Activity id=1338842063 name='Day 3 RED Jan - Shawell basin' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1338842063 name='Day 3 RED Jan - Shawell basin' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1338842063 name='Day 3 RED Jan - Shawell basin' resource_state=2>
No such attribute visibility on entity <Activity id=1340292008 name='Day 4 RED Jan - Run to circuits' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1340292008 name='Day 4 RED Jan - Run to circuits' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1340292008 name='Day 4 RED Jan - Run to circuits' resource_state=2>
No such attribute visibility on entity <Activity id=1340396046 name='Day 4 RED Jan - Run back from circuits' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1340396046 name='Day 4 RED Jan - Run back from circuits' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1340396046 name='Day 4 RED Jan - Run back from circuits' resource_state=2>
No such attribute visibility on entity <Activity id=1341696079 name='Day 5 RED Jan - Chingford/Whitehall rd/Rangers rd loop' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1341696079 name='Day 5 RED Jan - Chingford/Whitehall rd/Rangers rd loop' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1341696079 name='Day 5 RED Jan - Chingford/Whitehall rd/Rangers rd loop' resource_state=2>
No such attribute visibility on entity <Activity id=1343412121 name='Day 6 RED Jan - Trying new loop   ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1343412121 name='Day 6 RED Jan - Trying new loop   ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1343412121 name='Day 6 RED Jan - Trying new loop   ' resource_state=2>
No such attribute visibility on entity <Activity id=1345297015 name='Day 7 RED Jan - Quick one to Epping new road and back' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1345297015 name='Day 7 RED Jan - Quick one to Epping new road and back' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1345297015 name='Day 7 RED Jan - Quick one to Epping new road and back' resource_state=2>
No such attribute visibility on entity <Activity id=1346796099 name='Day 8 Red jan walk run with Anna ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1346796099 name='Day 8 Red jan walk run with Anna ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1346796099 name='Day 8 Red jan walk run with Anna ' resource_state=2>
No such attribute visibility on entity <Activity id=1348321870 name='Day 9 red January to and back from circuits' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1348321870 name='Day 9 red January to and back from circuits' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1348321870 name='Day 9 red January to and back from circuits' resource_state=2>
No such attribute visibility on entity <Activity id=1349756001 name='To the station - every metre counts, right?' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1349756001 name='To the station - every metre counts, right?' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1349756001 name='To the station - every metre counts, right?' resource_state=2>
No such attribute visibility on entity <Activity id=1349756050 name='Day 8 RED Jan - Hackney downs to work' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1349756050 name='Day 8 RED Jan - Hackney downs to work' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1349756050 name='Day 8 RED Jan - Hackney downs to work' resource_state=2>
No such attribute visibility on entity <Activity id=1351622101 name='Day 11 Red January- out to shadwell bain' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1351622101 name='Day 11 Red January- out to shadwell bain' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1351622101 name='Day 11 Red January- out to shadwell bain' resource_state=2>
No such attribute visibility on entity <Activity id=1351643579 name='Day 11 Red January - back from shadwell basin. ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1351643579 name='Day 11 Red January - back from shadwell basin. ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1351643579 name='Day 11 Red January - back from shadwell basin. ' resource_state=2>
No such attribute visibility on entity <Activity id=1352980351 name='Day 12 Red January - Epping forest' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1352980351 name='Day 12 Red January - Epping forest' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1352980351 name='Day 12 Red January - Epping forest' resource_state=2>
No such attribute visibility on entity <Activity id=1354527067 name='Day 13 RED January - short one' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1354527067 name='Day 13 RED January - short one' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1354527067 name='Day 13 RED January - short one' resource_state=2>
No such attribute visibility on entity <Activity id=1356853214 name='Day 14 RED January - easy end of week recovery run' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1356853214 name='Day 14 RED January - easy end of week recovery run' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1356853214 name='Day 14 RED January - easy end of week recovery run' resource_state=2>
No such attribute visibility on entity <Activity id=1358866900 name='Day 15 RED Jan - Work to Hackney Down with Nick' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1358866900 name='Day 15 RED Jan - Work to Hackney Down with Nick' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1358866900 name='Day 15 RED Jan - Work to Hackney Down with Nick' resource_state=2>
No such attribute visibility on entity <Activity id=1358866891 name='Station to home' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1358866891 name='Station to home' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1358866891 name='Station to home' resource_state=2>
No such attribute visibility on entity <Activity id=1359886145 name='Day 16 Red January- to circuits and back ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1359886145 name='Day 16 Red January- to circuits and back ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1359886145 name='Day 16 Red January- to circuits and back ' resource_state=2>
No such attribute visibility on entity <Activity id=1361569293 name='Day 17 RED January - Shadwell basin with Roz - showing her the route' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1361569293 name='Day 17 RED January - Shadwell basin with Roz - showing her the route' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1361569293 name='Day 17 RED January - Shadwell basin with Roz - showing her the route' resource_state=2>
No such attribute visibility on entity <Activity id=1363219356 name='Day 18 Red January - short quick one to keep the streak going' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1363219356 name='Day 18 Red January - short quick one to keep the streak going' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1363219356 name='Day 18 Red January - short quick one to keep the streak going' resource_state=2>
No such attribute visibility on entity <Activity id=1364538572 name='Day 19 RED January - Epping forest' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1364538572 name='Day 19 RED January - Epping forest' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1364538572 name='Day 19 RED January - Epping forest' resource_state=2>
No such attribute visibility on entity <Activity id=1366131306 name='Day 20 RED January - Epping forest' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1366131306 name='Day 20 RED January - Epping forest' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1366131306 name='Day 20 RED January - Epping forest' resource_state=2>
No such attribute visibility on entity <Activity id=1368781315 name='Day 21 RED January - Short one to end the week' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1368781315 name='Day 21 RED January - Short one to end the week' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1368781315 name='Day 21 RED January - Short one to end the week' resource_state=2>
No such attribute visibility on entity <Activity id=1369612822 name='Day 22 RED January - shadwell basin on my own' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1369612822 name='Day 22 RED January - shadwell basin on my own' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1369612822 name='Day 22 RED January - shadwell basin on my own' resource_state=2>
No such attribute visibility on entity <Activity id=1371568500 name='Day 23 RED January to and back from circuits' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1371568500 name='Day 23 RED January to and back from circuits' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1371568500 name='Day 23 RED January to and back from circuits' resource_state=2>
No such attribute visibility on entity <Activity id=1372888231 name='Day 24 RED January - Shadwell basin in the torrential driving rain' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1372888231 name='Day 24 RED January - Shadwell basin in the torrential driving rain' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1372888231 name='Day 24 RED January - Shadwell basin in the torrential driving rain' resource_state=2>
No such attribute visibility on entity <Activity id=1374438075 name='Day 25 RED January - to and from circuits ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1374438075 name='Day 25 RED January - to and from circuits ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1374438075 name='Day 25 RED January - to and from circuits ' resource_state=2>
No such attribute visibility on entity <Activity id=1375982671 name='Day 26 RED January - Epping forest' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1375982671 name='Day 26 RED January - Epping forest' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1375982671 name='Day 26 RED January - Epping forest' resource_state=2>
No such attribute visibility on entity <Activity id=1377139745 name='Day 27 RED January - short slow one cos of manflu' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1377139745 name='Day 27 RED January - short slow one cos of manflu' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1377139745 name='Day 27 RED January - short slow one cos of manflu' resource_state=2>
No such attribute visibility on entity <Activity id=1379124642 name='Day 28 - RED January - very slow short keeping the streak alive run ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1379124642 name='Day 28 - RED January - very slow short keeping the streak alive run ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1379124642 name='Day 28 - RED January - very slow short keeping the streak alive run ' resource_state=2>
No such attribute visibility on entity <Activity id=1381026492 name='Day 29 RED January - short man flu keeping the streak alive run' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1381026492 name='Day 29 RED January - short man flu keeping the streak alive run' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1381026492 name='Day 29 RED January - short man flu keeping the streak alive run' resource_state=2>
No such attribute visibility on entity <Activity id=1382770149 name='Day 30 RED January run to and from circuits ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1382770149 name='Day 30 RED January run to and from circuits ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1382770149 name='Day 30 RED January run to and from circuits ' resource_state=2>
No such attribute visibility on entity <Activity id=1384577204 name='Day 31 RED January - Whoo Hoo - To Shadwell basin - 31 days done!!!!' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1384577204 name='Day 31 RED January - Whoo Hoo - To Shadwell basin - 31 days done!!!!' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1384577204 name='Day 31 RED January - Whoo Hoo - To Shadwell basin - 31 days done!!!!' resource_state=2>
No such attribute visibility on entity <Activity id=1386164297 name='Day 32 in streak - to and from circuits' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1386164297 name='Day 32 in streak - to and from circuits' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1386164297 name='Day 32 in streak - to and from circuits' resource_state=2>
No such attribute visibility on entity <Activity id=1392524119 name='Day 33 - hill sprints ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1392524119 name='Day 33 - hill sprints ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1392524119 name='Day 33 - hill sprints ' resource_state=2>
No such attribute visibility on entity <Activity id=1392523969 name='Day 34 - road loop' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1392523969 name='Day 34 - road loop' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1392523969 name='Day 34 - road loop' resource_state=2>
No such attribute visibility on entity <Activity id=1392523976 name='Day 35 - end of week recovery run keeping the streak alive' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1392523976 name='Day 35 - end of week recovery run keeping the streak alive' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1392523976 name='Day 35 - end of week recovery run keeping the streak alive' resource_state=2>
No such attribute visibility on entity <Activity id=1392738519 name='Day 36 walk run with Anna ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1392738519 name='Day 36 walk run with Anna ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1392738519 name='Day 36 walk run with Anna ' resource_state=2>
No such attribute visibility on entity <Activity id=1393363507 name='Day 36 - work to Hackney Downs - with Nick' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1393363507 name='Day 36 - work to Hackney Downs - with Nick' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1393363507 name='Day 36 - work to Hackney Downs - with Nick' resource_state=2>
No such attribute visibility on entity <Activity id=1393363470 name='Station to home' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1393363470 name='Station to home' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1393363470 name='Station to home' resource_state=2>
No such attribute visibility on entity <Activity id=1394200062 name='Day 37 - shadwell basin with nick ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1394200062 name='Day 37 - shadwell basin with nick ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1394200062 name='Day 37 - shadwell basin with nick ' resource_state=2>
No such attribute visibility on entity <Activity id=1396037586 name='Day 38 - limehouse ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1396037586 name='Day 38 - limehouse ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1396037586 name='Day 38 - limehouse ' resource_state=2>
No such attribute visibility on entity <Activity id=1397478771 name='Day 39 - to and from circuits ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1397478771 name='Day 39 - to and from circuits ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1397478771 name='Day 39 - to and from circuits ' resource_state=2>
No such attribute visibility on entity <Activity id=1399133499 name='Day 40 - hill sprints' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1399133499 name='Day 40 - hill sprints' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1399133499 name='Day 40 - hill sprints' resource_state=2>
No such attribute visibility on entity <Activity id=1403973982 name='Walk run with Anna ' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1403973982 name='Walk run with Anna ' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1403973982 name='Walk run with Anna ' resource_state=2>
No such attribute visibility on entity <Activity id=1405231612 name='To the station' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1405231612 name='To the station' resource_state=2>
No such attribute display_hide_heartrate_option on entity <Activity id=1405231612 name='To the station' resource_state=2>
No such attribute visibility on entity <Activity id=1405231666 name='Hackney downs to work' resource_state=2>
No such attribute heartrate_opt_out on entity <Activity id=1405231666 name='Hackney downs to work' resource_state=2>

In [16]:
df = pd.DataFrame.from_dict(activities_list)

In [17]:
len(df)

188

In [18]:
metres_to_convert = 1609.344

In [19]:
df['metres_conversion'] = metres_to_convert

In [20]:
df.head()

,0,1,2,metres_conversion
0,2018-01-01 14:32:09+00:00,Day 1 RED Jan - Muddy Connaught water,5569.80 m,1609.344
1,2018-01-02 15:55:37+00:00,Day 2 RED Jan - Bury Road and back,5774.50 m,1609.344
2,2018-01-03 12:20:11+00:00,Day 3 RED Jan - Shawell basin,4947.70 m,1609.344
3,2018-01-04 12:13:09+00:00,Day 4 RED Jan - Run to circuits,409.20 m,1609.344
4,2018-01-04 12:39:50+00:00,Day 4 RED Jan - Run back from circuits,338.60 m,1609.344

In [21]:
df.rename(columns={0:'date', 1:'activity_name', 2:'metres'}, inplace=True)

In [22]:
df['km'] = df['metres']/1000

In [23]:
df['miles'] = df['metres']/df['metres_conversion']

In [24]:
# for activity in client.get_activities(after = "2018-01-01T00:00:00Z",  limit=5):
#     activity_returned.update({"activity_name":activity.name,
#                                                       "distance": activity.distance})
# #     activities_returned = activities_returned.append(activity_returned)
#     print("{0.name} {0.distance}".format(activity))

In [25]:
# activity.start_date

In [26]:
df.index = df['date']

In [27]:
df.head()

,date,activity_name,metres,metres_conversion,km,miles
date,,,,,,
2018-01-01 14:32:09+00:00,2018-01-01 14:32:09+00:00,Day 1 RED Jan - Muddy Connaught water,5569.80 m,1609.344,5.57 m,3.46 m
2018-01-02 15:55:37+00:00,2018-01-02 15:55:37+00:00,Day 2 RED Jan - Bury Road and back,5774.50 m,1609.344,5.77 m,3.59 m
2018-01-03 12:20:11+00:00,2018-01-03 12:20:11+00:00,Day 3 RED Jan - Shawell basin,4947.70 m,1609.344,4.95 m,3.07 m
2018-01-04 12:13:09+00:00,2018-01-04 12:13:09+00:00,Day 4 RED Jan - Run to circuits,409.20 m,1609.344,0.41 m,0.25 m
2018-01-04 12:39:50+00:00,2018-01-04 12:39:50+00:00,Day 4 RED Jan - Run back from circuits,338.60 m,1609.344,0.34 m,0.21 m

In [28]:
df = df[['activity_name', 'metres', 'metres_conversion', 'miles', 'km']]
df2 = df.resample('D')['miles'].sum()

In [29]:
df_k = df.copy(deep=True)

In [30]:
df_km_runs = pd.DataFrame(df_k.resample('D')['km'].sum())

In [31]:
daily_runs_df = pd.DataFrame(df2)

In [32]:
def to_float(number):
    return float(number)

In [33]:
daily_runs_df['miles'] = daily_runs_df.apply(lambda row: to_float(row['miles']), axis=1)

In [34]:
daily_runs_df['cumulative_miles'] = daily_runs_df['miles'].cumsum()

In [35]:
daily_runs_df['daily_miles'] = 20/7

In [36]:
daily_runs_df['cumulative_daily_miles'] = daily_runs_df['daily_miles'].cumsum()

In [37]:
daily_runs_df.head()

,miles,cumulative_miles,daily_miles,cumulative_daily_miles
date,,,,
2018-01-01 00:00:00+00:00,3.460913,3.460913,2.857143,2.857143
2018-01-02 00:00:00+00:00,3.588108,7.049021,2.857143,5.714286
2018-01-03 00:00:00+00:00,3.074358,10.123379,2.857143,8.571429
2018-01-04 00:00:00+00:00,0.464661,10.588041,2.857143,11.428571
2018-01-05 00:00:00+00:00,3.509318,14.097359,2.857143,14.285714

In [38]:
daily_runs_df['daily_miles_difference'] = daily_runs_df['miles']/daily_runs_df['daily_miles']
daily_runs_df['daily_miles_cumulative_difference'] = daily_runs_df['cumulative_miles']/daily_runs_df['cumulative_daily_miles']

In [39]:
daily_runs_df.to_csv('strava_runs_2018.csv')

In [40]:
weekly_df = daily_runs_df.resample('W-MON', closed='Right', label='Right').sum()

In [41]:
weekly_df.head()

,miles,cumulative_miles,daily_miles,cumulative_daily_miles,daily_miles_difference,daily_miles_cumulative_difference
date,,,,,,
2017-12-25 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 00:00:00+00:00,20.263722,83.419455,20.0,80.0,7.092303,7.592907
2018-01-08 00:00:00+00:00,21.047271,225.917206,20.0,220.0,7.366545,7.139054
2018-01-15 00:00:00+00:00,23.312853,382.311613,20.0,360.0,8.159499,7.426264
2018-01-22 00:00:00+00:00,16.101902,521.549836,20.0,500.0,5.635666,7.313564

In [42]:
weekly_df = weekly_df.copy()
weekly_df = weekly_df[['miles', 'daily_miles']]

In [43]:
weekly_df.head()

                               miles  daily_miles
date
2017-12-25 00:00:00+00:00        NaN          NaN
2018-01-01 00:00:00+00:00  20.263722         20.0
2018-01-08 00:00:00+00:00  21.047271         20.0
2018-01-15 00:00:00+00:00  23.312853         20.0
2018-01-22 00:00:00+00:00  16.101902         20.0

In [44]:
weekly_df['cumulative_weekly_miles'] = weekly_df['miles'].cumsum()
weekly_df = weekly_df.rename(columns={"miles":"miles_run",
                                      'daily_miles':"weekly_miles_to_run"})
weekly_df.head()

,miles_run,weekly_miles_to_run,cumulative_weekly_miles
date,,,
2017-12-25 00:00:00+00:00,NaN,NaN,NaN
2018-01-01 00:00:00+00:00,20.263722,20.0,20.263722
2018-01-08 00:00:00+00:00,21.047271,20.0,41.310994
2018-01-15 00:00:00+00:00,23.312853,20.0,64.623847
2018-01-22 00:00:00+00:00,16.101902,20.0,80.725749

In [45]:
weekly_df['cumulative_intended_miles'] = weekly_df['weekly_miles_to_run'].cumsum()

In [46]:
weekly_df['miles_difference'] = weekly_df['miles_run']/weekly_df['weekly_miles_to_run']
weekly_df['cumulative_miles_difference'] = weekly_df['cumulative_intended_miles']/weekly_df['cumulative_weekly_miles']

In [47]:
weekly_df = weekly_df[['miles_run', 'weekly_miles_to_run', 'miles_difference', 'cumulative_weekly_miles',
       'cumulative_intended_miles', 'cumulative_miles_difference']]

In [48]:
weekly_km_df = df_km_runs.resample('W-MON', closed='Right', label='Right').sum()

In [49]:
output_file('strava_chart.html')

In [50]:
df_km_runs['km'] = df_km_runs.astype(float)

In [51]:
df_km_runs['total_kms'] = df_km_runs['km'].sum()

In [52]:
df_km_runs['km_goal'] = 20/7

In [53]:
df_km_runs['daily_km_difference'] = df_km_runs['km'] - df_km_runs['km_goal']

In [54]:
df_km_runs['total_km_todate'] = df_km_runs['km_goal'].sum()

In [55]:
# weekly_km_df = weekly_km_df[['km',  'km_goal', 'daily_km_difference',
#        'total_km_todate']]

In [56]:
# weekly_km_df['total_km_goal_todate'] = weekly_km_df['km_goal'].sum()

In [57]:
# weekly_km_df['cumulative_km'] = weekly_km_df['km'].cumsum()

In [58]:
# weekly_km_df['cumulative_km_goal'] = weekly_km_df['km_goal'].cumsum()
# weekly_km_df['total_aim_km'] = 1000
# weekly_km_df['km_left_to_goal'] = weekly_km_df['total_aim_km'] - weekly_km_df['cumulative_km']
# weekly_km_df['km_goal_left_to_goal'] = weekly_km_df['total_aim_km'] - weekly_km_df['cumulative_km_goal']

In [59]:
df_km_runs.reset_index(inplace=True)

In [60]:
df_km_runs['weeks'] = df_km_runs['date'].dt.week

In [61]:
# weekly_km_df['total_km_todate'] = weekly_km_df['km'].sum()

In [62]:
weeks = list(set(df_km_runs['weeks']))

In [63]:
def cumulative_per_week(df, week_number):
    df = df.copy(deep=True)
    df_week = df[df['weeks']==week_number]
    df_week['weekly_actual_total'] = df_week['km'].sum()
    df_week['weekly_actual_cumulative'] = df_week['km'].cumsum()
    df_week['percentage_to_total_weekly'] = df_week['weekly_actual_cumulative']/df_week['weekly_actual_total']
    df_week['weekly_goal_total'] = df_week['km_goal'].sum()
    df_week['weekly_goal_cumulative'] = df_week['km'].cumsum()
    df_week['percentage_to_total_weekly_goal'] = df_week['weekly_goal_cumulative']/df_week['weekly_goal_total']
    return df_week

In [64]:
daily_weekly_df = pd.DataFrame()

In [65]:
for week in weeks:
    transition_df = cumulative_per_week(df_km_runs, week)
    daily_weekly_df = daily_weekly_df.append(transition_df)

c:\users\johnnieb\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\johnnieb\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\johnnieb\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\johnnieb\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
c:\users\johnnieb\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\johnnieb\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [66]:
daily_weekly_df.head()

,date,km,total_kms,km_goal,daily_km_difference,total_km_todate,weeks,weekly_actual_total,weekly_actual_cumulative,percentage_to_total_weekly,weekly_goal_total,weekly_goal_cumulative,percentage_to_total_weekly_goal
0,2018-01-01 00:00:00+00:00,5.5698,958.7202,2.857143,2.712657,965.714286,1,32.6113,5.5698,0.170794,20.0,5.5698,0.278490
1,2018-01-02 00:00:00+00:00,5.7745,958.7202,2.857143,2.917357,965.714286,1,32.6113,11.3443,0.347864,20.0,11.3443,0.567215
2,2018-01-03 00:00:00+00:00,4.9477,958.7202,2.857143,2.090557,965.714286,1,32.6113,16.2920,0.499581,20.0,16.2920,0.814600
3,2018-01-04 00:00:00+00:00,0.7478,958.7202,2.857143,-2.109343,965.714286,1,32.6113,17.0398,0.522512,20.0,17.0398,0.851990
4,2018-01-05 00:00:00+00:00,5.6477,958.7202,2.857143,2.790557,965.714286,1,32.6113,22.6875,0.695694,20.0,22.6875,1.134375

In [67]:
source = ColumnDataSource(data=weekly_df)

In [68]:
p = figure(plot_width=400, plot_height=400)

In [69]:
source

ColumnDataSource(id='1001', ...)

In [70]:
p.line(x='date',y='cumulative_weekly_miles',source=source)

GlyphRenderer(id='1043', ...)

In [71]:
show(p)

In [72]:
numlines=len(weekly_df.columns)
mypalette=Spectral11[0:2]

In [73]:

# p = figure(width=500, height=300, x_axis_type="datetime")

In [74]:
# p.multi_line(xs=[weekly_df.index.values]*2,
#                 ys=[weekly_df[name].values for name in weekly_df[['cumulative_weekly_miles','cumulative_intended_miles']]],
#                 line_color=mypalette,
#                 line_width=5)

In [75]:
# show(p)

In [76]:
# output_file('strava_km_chart.html')

In [77]:
# source_km = ColumnDataSource(data=weekly_km_df)

In [78]:
# p_km = figure(plot_width=400, plot_height=400)

In [79]:
# p_km.line(x='date',y='cumulative_km',source=source_km)

In [80]:
# numlines=len(weekly_km_df.columns)
# mypalette=Spectral11[0:2]

In [81]:
# p_km = figure(width=500, height=300, x_axis_type="datetime")

In [82]:
# p_km.multi_line(xs=[weekly_km_df.index.values]*2,
#                 ys=[weekly_km_df[name].values for name in weekly_km_df[['cumulative_km','cumulative_km_goal']]],
#                 line_color=mypalette,
#                 line_width=3)

In [83]:
# p_km.multi_line(xs=[weekly_km_df.index.values]*2,
#                 ys=[weekly_km_df[name].values for name in weekly_km_df[['km_left_to_goal','km_goal_left_to_goal']]],
#                 line_color=mypalette,
#                 line_width=3)

In [84]:
# show(p_km)

In [85]:
# Create a ColumnDataSource
run_cds = ColumnDataSource(weekly_km_df)

In [86]:
weekly_km_df.reset_index(inplace=True)

In [87]:
weekly_km_df.columns

Index(['date', 'km'], dtype='object')

In [93]:

# Create views for each team
# rockets_view = CDSView(source=west_cds,
#                        filters=[GroupFilter(column_name='teamAbbr', group='HOU')])
# warriors_view = CDSView(source=west_cds,
#                         filters=[GroupFilter(column_name='teamAbbr', group='GS')])

weekly_km_df.head()

                       date       km
0 2017-12-25 00:00:00+00:00   0.0000
1 2018-01-01 00:00:00+00:00  32.6113
2 2018-01-08 00:00:00+00:00  33.8723
3 2018-01-15 00:00:00+00:00  37.5184
4 2018-01-22 00:00:00+00:00  25.9135

In [89]:
# Create and configure the figure
km_fig = figure(x_axis_type='datetime',
                  plot_height=300, plot_width=600,
                  title='cumulative actual distance vs goal actual distance',
                  x_axis_label='Date', y_axis_label='Kms',
                  toolbar_location=None)


km_fig.line(x='date', y='cumulative_km', 
         color='blue', line_width=1,
         legend='Cumulative',source=run_cds)

km_fig.line(x='date', y='cumulative_km_goal', 
         color='red', line_width=1,
         legend='Cumulative goal',source=run_cds)

# Render the race as step lines
# west_fig.step('stDate', 'gameWon',
#               source=west_cds, view=rockets_view,
#               color='#CE1141', legend='Rockets')
# west_fig.step('stDate', 'gameWon',
#               source=west_cds, view=warriors_view,
#               color='#006BB6', legend='Warriors')

# Move the legend to the upper left corner
km_fig.legend.location = 'top_left'

# Show the plot
show(km_fig)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: cumulative_km [renderer: GlyphRenderer(id='1160', ...)]
ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: cumulative_km_goal [renderer: GlyphRenderer(id='1185', ...)]

In [90]:
weekly_km_df.head()

                       date       km
0 2017-12-25 00:00:00+00:00   0.0000
1 2018-01-01 00:00:00+00:00  32.6113
2 2018-01-08 00:00:00+00:00  33.8723
3 2018-01-15 00:00:00+00:00  37.5184
4 2018-01-22 00:00:00+00:00  25.9135

In [91]:
daily_weekly_df.head()

,date,km,total_kms,km_goal,daily_km_difference,total_km_todate,weeks,weekly_actual_total,weekly_actual_cumulative,percentage_to_total_weekly,weekly_goal_total,weekly_goal_cumulative,percentage_to_total_weekly_goal
0,2018-01-01 00:00:00+00:00,5.5698,958.7202,2.857143,2.712657,965.714286,1,32.6113,5.5698,0.170794,20.0,5.5698,0.278490
1,2018-01-02 00:00:00+00:00,5.7745,958.7202,2.857143,2.917357,965.714286,1,32.6113,11.3443,0.347864,20.0,11.3443,0.567215
2,2018-01-03 00:00:00+00:00,4.9477,958.7202,2.857143,2.090557,965.714286,1,32.6113,16.2920,0.499581,20.0,16.2920,0.814600
3,2018-01-04 00:00:00+00:00,0.7478,958.7202,2.857143,-2.109343,965.714286,1,32.6113,17.0398,0.522512,20.0,17.0398,0.851990
4,2018-01-05 00:00:00+00:00,5.6477,958.7202,2.857143,2.790557,965.714286,1,32.6113,22.6875,0.695694,20.0,22.6875,1.134375

In [92]:
day_week_cds = ColumnDataSource(daily_weekly_df)


km_week_fig = figure(x_axis_type='datetime',
                  plot_height=300, plot_width=600,
                  title='cumulative actual distance vs goal actual distance',
                  x_axis_label='Date', y_axis_label='Kms',
                  toolbar_location=None)

week_1_view = CDSView(source=day_week_cds,
                       filters=[GroupFilter(column_name='weeks', group='1')])
week_2_view = CDSView(source=day_week_cds,
                        filters=[GroupFilter(column_name='weeks', group='2')])

km_fig.line(x='date', y='weekly_actual_cumulative', 
         color='blue', line_width=1,
         legend='Cumulative',  source=day_week_cds, view=week_1_view)

km_week_fig.line(x='date', y='weekly_goal_cumulative', 
         color='red', line_width=1,
         legend='Cumulative goal', source=day_week_cds, view=week_1_view)

# Move the legend to the upper left corner
km_week_fig.legend.location = 'top_left'

# Show the plot
show(km_week_fig)

RuntimeError: Models must be owned by only a single document, Selection(id='1454', ...) is already in a doc